<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>756791847762-arp85lgj9jd5tkj3mghpht2685n03kst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756791847762-arp85lgj9jd5tkj3mghpht2685n03kst</string>
	<key>API_KEY</key>
	<string>AIzaSyAZI5iOfzk5waSA1mXlyDIFhexXaWmMYdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>756791847762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-8f844</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-8f844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756791847762:ios:cadcb54a6d27e190</string>
	<key>DATABASE_URL</key>
	<string>https://authentication-8f844.firebaseio.com</string>
</dict>
</plist>